body {
    width: 980px;
    margin: 0 auto;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0;
    color: #333;
}

h1 {
    font-size: 2.3em;
    line-height: 1;
}

.template-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header header header header header header header header" "carousel carousel carousel carousel carousel carousel carousel carousel" "left-aside left-aside main main main main main main";
}

.header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding: 0 20px;
    background: #eceff1;
}

.main {
    grid-area: main;
}

.left-aside {
    grid-area: left-aside;
}

.carousel {
    grid-area: carousel;
    min-height: 300px;
    margin-bottom: 30px;
    background: #f5f5f5;
}

.horizontal-menu {
    display: flex;
    padding: 0;
    list-style: none;
}

.horizontal-menu li {
    padding: 0 10px;
}

.horizontal-menu a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.vertical-menu {
    padding: 0;
    list-style: none;
}

.vertical-menu a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}

.grid-12 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-6 {
    grid-column: span 6;
}

.col-12 {
    grid-column: span 12;
}

.btn {
    display: block;
    max-width: 200px;
    padding: 10px;
    border: 1px solid;
    color: #333;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    filter: invert(0.6);
}

.btn-outline-green {
    border-color: green;
}

.card {
    padding: 20px;
    border: 1px solid #d3d3d3;
}

.card h2 {
    margin-bottom: 20px;
    text-align: center;
}

.images {
    height: 150px;
    background: #f5f5f5;
}