body {
    width: 700px;
    margin: 0 auto;
    padding: 100px 0;
    font-family: serif;
    background-color: #eee;
}


/* BEGIN (write your solution here) */

body {
    width: 700px;
    margin: 0 auto;
    padding: 100px 0;
    font-family: serif;
    background-color: #eee;
}


/* BEGIN (write your solution here) */

h1,
h2,
h3,
h4 {
    color: #646464;
    font-weight: normal;
}

.h1 {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

.h2 {
    font-size: 40px;
    text-align: center;
}

.h3 {
    font-size: 20px;
    text-align: center;
}

.h4 {
    font-size: 18px;
    text-align: center;
}

.p {
    color: #333;
    font-size: 16px;
    text-align: justify;
}


/* END */


/* END */