* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #303846;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;
    background: #f0f3f4;
}

h1 {
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 3em;
}

h2 {
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 2em;
}

.h-150 {
    height: 150px;
}

.p-2 {
    padding: 2em;
}

.mr-1 {
    margin-right: 1em;
}

.font-2 {
    font-size: 2em;
}

.font-bold {
    font-weight: bold;
}

.bg-light {
    background: #f7f7f7;
}

.justify-content-between {
    justify-content: space-between;
}

.mt-2 {
    margin-top: 2em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0dfdf;
}

.nav-horizontal {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-horizontal a {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

.nav-horizontal .active-link {
    color: #424e75;
}

.nav-horizontal a:hover {
    color: #c44741;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.catalog {
    /* BEGIN (write your solution here) */
    display: flex;
    justify-content: space-between;
    /* END */
}

.catalog-item {
    /* BEGIN (write your solution here) */
    width: 24%;
    min-width: 200px;
    max-width: 500px;
    /* END */
    padding: 10px 25px;
    border: 1px solid #e8e8e8;
    background: #f9f9f9;
}

.catalog-item .img {
    height: 150px;
}

.catalog-item-name {
    font-weight: bold;
    font-size: 1.2em;
}

.catalog-item-price {
    color: #666;
    font-weight: bold;
}